<footer>
    <div>
        <p>This website is dedicated to web development purposes only and is not intended for commercial use.</p>
        <p>All materials featured on this site are owned by their respective copyright holders or hosting services.</p>
        <p><strong> Made By E.B. </strong></p>
    </div>
</footer>