<div>
    <ul class="menuList">
        <li><a href="/">Home</a></li>
        <li><a href="/paintings">All paintings</a></li>
        <li><a href="/painters">All painters</a></li>
        <li><a href=""></a></li>
    </ul>
</div>