<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>


    <body>
        <%- include('../partials/header.ejs') %>
            <p>Welcome babe!</p>

            <%- include('../partials/footer.ejs') %>

    </body>

</html>